* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(216, 15%, 48%);
}

.qr-code {
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

/* Container Section */
.container {
    background-color: hsl(212, 45%, 89%);
    width: 20%;
    height: 70%;
    min-width: 300px;
    border-radius: 15px;
    padding: 10px;
}

.wrapper-header p {
    display: flex;
    justify-content: column;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    /* margin: 10px 30px; */
    font-weight: 900;
    font-size: 17px;
    padding-bottom: 10px;
    color: hsl(218, 44%, 22%);
}

.section-tab {
    display: flex;
    justify-content: column;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 13px;
    padding-top: 10px;
    color: hsl(216, 15%, 48%);
}

/* @media (max-width: 860px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  .wrapper.header {
    font-size: 20px;
    font-weight: 900;
  }
}